<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        #form{
            display: flex;
            flex-direction: column;
        }

    </style>

</head>
<body>
    <div class="grid_parent">
        <div class="div3">
            <h1>Upload Image</h1>
            <a href="/">Zum Tagbuch</a>
        </div>
        <div class="div4">
            <form id="form" action="/predict" method="post" enctype="multipart/form-data">
                <p> Image: <input type="file" id="file_input" name="file"></p>
                <div class="div2">
                    <img id="previewImg" src="#" alt="Preview" width="400px"/>
                </div>
                <p> Vordergrund Farbe: <input type="color" name="fgcol" class="color" value="#E0BD87"></p>
                <p> Hintergrund Farbe: <input type="color" name="bgcol" class="color" value="#FFF1C3"></p>
                <p> Dunkler Vordergrund? : <input type="checkbox" id="invert_text" name="invert_text"></p>
                <p> Skinning Iterations: <input type="number" id="iterations" name="iterations" value="2"></p>
                <p> Adaptive Threshold: <input type="number" id="ada_hi" name="ada_hi" value="17"></p>
                <p> Adaptive Size: <input type="number" id="ada_lo" name="ada_lo" value="7"></p>
                <p> Titel: <input type="text" id="title" name="title" value=""></p>
                <p> Datum: <input type="date" id="subtitle" name="subtitle" value=""></p>
                <p> Description: <textarea id="description" name="description" value="" rows="4" cols="50"></textarea></p>
                <input type="hidden" id="num" name="num" value={{num}}>
                <p> <input type="submit" value="Submit"> </p>
            </form>   
        </div>
    </div>
</body>
</html>